changeLogFile: {{ change_log_file }}
driver: org.postgresql.Driver
url: jdbc:postgresql://{{ db_credentials.host }}:{{ db_credentials.port }}/{{ db_credentials.database }}
username: {{ db_credentials.user }}
password: {{ db_credentials.password }}
classpath: {{ postgres_driver_path }}